body {
    background-color: #9FD1F0;
    font-family: Microsoft JhengHei;
    font-size: 20px;

}

.login_title{
    color: #094996; 
    float: left; 
    display: block;
    font-size: 40px;
}
.panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    color: inherit;
}

th{
    font-size: 23px;
}

td{
    font-size: 20px;
}

p{
    font-size: 20px;
}
a{
    font-size: 23px;
}
h5{
    font-size: 20px;
}
h4{
    font-size: 25px;
}

.btn{
    font-size: 20px;
}
  

.form-control{
    font-size: 20px;
    height: 40px;
}


.shoppingCar_main_btn{
    margin-top: 25px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 25px;
}

.Commodity_Management_Menu_btn{
    width: 80%;
    height: 45px;
    font-size: 25px;

}

.navbar_sytle {
    background-color: #493997;
}

.search_nav_title_style {
    font-size: 40px;
}

.search_nav_text_style {
    font-size: 15px;
}

.search_search_area_sytle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.search_search_sytle {
    width: 100%;
}

.search_more_style {
    font-size: 20px;
}


.search_type_style {
    padding: 0px;
}
@media (min-width: 768px){

  .modeal-diallong{ 
      top: 120px;
      right: 0;
      width: 300px;
      height: 200px;

        }
}
